{% extends "userview/base.html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">{{ movie.title }}</h1>

  {% if movie.front_image %}
    <img src="{{ movie.front_image.url }}" alt="Front Image">
  {% else %}
    <p>No front image available.</p>
  {% endif %}

  <h3>Image Gallery:</h3>
  {% for image in movie.movieimage_set.all %}
    <img src="{{ image.image.url }}" alt="Gallery Image">
  {% empty %}
    <p>No images available.</p>
  {% endfor %}

  <a href="{% url 'movie_image_add' movie.id %}">Add image</a>
  
  <p>Average rating: {{ movie.average_rating }}</p>
  <p>IMDB: {{ movie.imdb_reference }}</p>
  <p><strong>Genres:</strong></p>
  {% for genre in genres %}
    <li><a href="{% url 'genre_detail' genre.id %}">{{ genre.name }}</a></li>
  {% endfor %}
  <p><strong>Comments:</strong></p>
  {% for comment in comments %}
    <li>{{ comment.text }} by {{ comment.user }}
      {% if user == comment.user %}
      <a href="{% url 'comment_delete' comment.pk %}">delete</a>
      {% endif %}
    </li>
  {% endfor %}
</div>
<a class="action" href="{% url 'movie_edit' movie.id %}">Edit Movie</a>
<a class="action" href="{% url 'rating_add' movie.id %}">Add Rating</a>
<a class="action" href="{% url 'comment_add' movie.id %}">Add Comment</a>
{% endblock %}
